/* CSS Document */

body {
margin: 0;
padding: 0;

}
.pp{
	height:232px;
}
.tupian {
  background-image:url(lu.jpg);
  background-repeat: no-repeat;
  width: 863px;
  height: 350px;
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}


.huitiao {
  background-color: rgba(0, 0, 0, 0.7);
  width: 863px;
  height: 80px;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.Yellowstone {
  width: 162.39px;
  height: 27px;
  margin: 0px 20px 0px 0px;
  font-size: 30px;
  font-family: Arial,sans-serif;
  font-weight: bold;
  line-height: 27px;
  float: left;
  /* display:inline; */
}
a{
	display:block;/*��Ԫ��ת���ɿ�Ԫ��*/
}
.b{
	display:none;
}
.National,.ID {
	float: left;
	left:300px;
  width: 78.05px;
  height: 16px; 
  font-size: 13px;
  line-height:1rem ;
  font-family:Arial, "Helvetica Neue", Helvetica, Arial,sans-serif;
  
}
.National{
	/* display:inline; */
}
.ID {

}
.heitiao {
  background-color: black;
  width: 1136px;
  height: 56px;
  width: 100%;
}

/*.heitiao:hover {
color:#FFFFFF;
  padding: 0px 10px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  height: 56px;
  font-weight:bold;
  background-color:#666666;
}
.heitiao:link {
  color:#FFFFFF;
  padding: 0px 10px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  height: 56px;
  font-weight:bold;
  background-color:#000000;
}*/
.Plan {
  display:block;     /*转化为行元素 */
  padding: 0px 10px;
  width: 117.38px;
  float: left;
}

.Learn {
  display:block;     /*转化为行元素 */
  width: 154.92px;
  float: left;
}

.Get {
  display:block;     /*转化为行元素 */
  width: 154.92px;
  float: left;
}

.Plan,.Learn,.Get {
  padding: 0px 10px;
  line-height: 56px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color:#FFFFFF;
}

.heitiao {
color:#FFFFFF;
}

.YOUTUBIAO {
  width: 747.67px;
  height: 56px;
  margin: 0px 0px 0px 368.328px;
  font-size: 16px;
  font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
}

.TUBIAO1 {
  float: right;

}
.TUBIAO2 {
  float: right;

}
.TUBIAO3 {
  float: right;

}
.TUBIAO4 {
  float: right;

}

.TUBIAO5 {
  float: right;
}

.you1 {
  color: #FFFFFF;
  padding: 9px 0px;
  width: 75px;
  height: 56px;
  display: inline-block;
}

.TUBIAO1,.TUBIAO2,.TUBIAO3,.TUBIAO4,.TUBIAO5 {
  width: 75px;
  height: 15px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:#FFFFFF;
}

a:link {/*δ����*/
  background-color:#000000;
  text-decoration: none;
  color:#FFFFFF;
  
  
}
a:hover {/*������������*/
  background-color:#333333;
  text-decoration: none;
  color:#FFFFFF;
}

