body {
margin: 0;
padding: 0;
}

.tupian {  

  background-image: url(lu.jpg);
  background-repeat: no-repeat;
  width: 863px;
  height: 350px;
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}


.huitiao {
  background-color: rgba(0, 0, 0, 0.7);
  width: 863px;
  height: 80px;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  bottom: 0;
}


.Yellowstone {
  position: relative;
  width: 162.39px;
  height: 27px;
  margin: 0px 20px 0px 0px;
  font-size: 30px;
  font-family: Arial,sans-serif;
  font-weight: bold;
  line-height: 27px;
}

.NaID {
  float: left;
  display: block;
  width: 78.05px;
  height: 16px; 
  font-size: 13px;
  line-height:1rem ;
  font-family:Arial, "Helvetica Neue", Helvetica, Arial,sans-serif;
}

.heitiao {
  background-color: black;
  width: 863px;
  height: 56px;
  width: 100%;
}

a:hover {
  background-color: gray;
  text-decoration: none;
}

a:link {
  background-color: black;
  text-decoration: none;
  color: #fff;
}

a.Plan {
  color: #fff;
  padding: 0px 10px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  width: 117.38px;
  height: 56px;
}

a.Get {
  color: #fff;
  padding: 0px 10px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  width: 154.92px;
  height: 56px;
}
