/* CSS Document */

body {
  margin: 0;
  padding: 0;
}

.pp{
  height:270px;
}
  
/* 图片 */
.tupian {
  background-image:url(lu.jpg);
  background-repeat: no-repeat;
  height: 350px;
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}

/* 灰条 */
.huitiao {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  height: 80;
  width: 100%;
}

/* 灰条内嵌条 */
.zhong {
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* 灰条内嵌条文字 */
.Yellowstone {
  font-size: 1.875rem;
  margin-right: 1.25rem;
  border-bottom: none;
  color: #FFFFFF;
  font-family: "Arial",sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 27px;
  float: left;
  margin-right: auto;
  margin-left: auto;
  margin: 0px 20px 0px 0px;
}

.Yellowstone:link {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.Yellowstone:hover {
  background-color: rgba(0, 0, 0, 0);
}

.National,.ID {
  float: left;
  left:300px;
  width: 78.05px;
  height: 16px; 
  font-size: 13px;
  line-height:1rem ;
  font-family:Arial, "Helvetica Neue", Helvetica, Arial,sans-serif;
}

/* 黑条 */
.heitiao {
  background-color: black;
  height: 56px;
  width: 100%;
} 

/* 黑条内嵌条 */
.xiazhong {
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* 下拉导航栏 */
ul {
  list-style: none;
  /* background: black; */
  text-align: left;
  width: 1320px;
  margin: 0 auto;
  padding: 0 10px 0 0;
  height: 56px;
}

ul li {
  display: inline-block;
  position: relative;
  height: 56px;
}

ul li a {
  display: block;
  padding: 0px;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.dropdown {
  color: white;
  display: block;
  width: 160px;
  background-color: #282424;
  position: absolute;
  z-index: 1;
  display: none;
  margin-left: 0px;
  margin-top: 56px;
  top: auto;
  left: 0px;
  padding: 0;
  line-height: normal;
  direction: ltr;
  text-align: left;
  height: 238px;
}

.Get:hover,.Learn:hover,.Plan:hover {
  background-color: #282424;
}

ul li:hover ul.dropdown {
  display: block;
}

.Plan,.Learn,.Get {
  padding: 0px 10px;
  line-height: 56px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color:#FFFFFF;  
  font-weight: bold;
  float: left;
  height: 56px;
}

/* 黑条文字导航栏 */
.Plan {
  width: 102.38px;
}

.Learn {
  width: 139.92px;
}

.Get {
  width: 91.31px;
}

/* 黑条右侧图标 */
.YOUTUBIAO {
  width: 747.67px;
  height: 3.5rem;
  margin: 0px 0px 0px 368.328px;
  font-size: 16px;
  font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
}

/* 黑条右图标超链接 */
.TUBIAO {
  width: 75px;
  height: 15px;
  font-size: .625rem;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:#FFFFFF;
  text-align:center;
  line-height: 1.2;
  padding: 0px 0px 3px;
}

a.you2 {
  width: 75px;
  height: 56px;
  /* padding: .5625rem 0; */
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  border-bottom: none;
  float: right;
}

a.you2:link {
  text-decoration: none;
  color:#FFFFFF;
}

a.you2:hover {
  background-color:#333333;
  text-decoration: none;
  color:#FFFFFF;
}

.TUBIAO {
  position: relative;
  padding-top: 9px;
}

.T1 {
  height: 20px;
  width: 20px;
}

.T2 {
  height: 20px;
  width: 20px;
}

.T3 {
  height: 21.81px;
  width: 15.8px;
}

.T4 {
  height: 19px;
  width: 21.4px;
}

.T5 {
  height: 20px;
  width: 20.14px;
}

.p1 {
  margin: 9px 0;
}

.p2 {
  margin: 5px 0;
}
.Jiantou {
  color: #FFFFFF;
  display: inline-block;
  position: unset;
  border-width: 6px 4px 0 4px;
  height: 39;
  border-color: #fff rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
  border-style: solid dashed dashed dashed;
  width: 56;
  margin: -3px 0px 0px 6px;
}

.Hong {
  color: #FFFFFF;
  width: 4.453px;
  height: 10px;
  display: inline;
  font-size: .5rem;
  margin-left: .15625rem;
  background-color: #c60606;
  position: absolute;
  right: 24px;
  text-align: center;
  top: 26px;
  vertical-align: middle;
  height: .75rem;
  padding: .0625rem .1875rem;
}

.li {
  width: 120px;
  height: auto;
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  z-index: 10000;
  color: #FFFFFF;
  position: relative;
}

.li:link {
  color: #FFFFFF;
}

.li:hover {
  background: #436023;
  color: #FFFFFF;
}


.Jiantou2 {
  color: #FFFFFF;
  display: inline-block;
  position: unset;
  color: #fff;
  border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #fff;
  border-width: 4.02px 0 4.02px 6px;
  margin-top: -4.02px;
  margin-right: -10px;
  font-size: 12px;
  border-style: solid dashed dashed dashed;
  text-align: right;
  top: 50%;
  width: 0;
}